{% extends 'base.html.twig' %}

{% block title %}PROJETS{% endblock %}

{% block body %}
    <!-- project-area-start -->
    <div class="project-area bg-img-2 overlay">
        <div class="container-fluid p-lg-0">
            <div class="row justify-content-end no-gutters">
                <div class="col-xl-4 col-md-6">
                    <div class="section-title text-white mb-65 ml-80">
                        <h3>Take a look around <br>
                            our projects</h3>
                        <p>Waters make fish every without firmament saw had. <br> Morning air subdue.</p>
                        <div class="more-project">
                            <a href="#">More Projects</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="project-active owl-carousel">
                        <div class="single-project">
                            <div class="project-thumb">
                                <img src="img/project/1.jpg" alt="">
                            </div>
                            <div class="project-info">
                                <span>Industrial construction</span>
                                <h3>Research and development center</h3>
                            </div>
                        </div>
                        <div class="single-project">
                            <div class="project-thumb">
                                <img src="img/project/1.jpg" alt="">
                            </div>
                            <div class="project-info">
                                <span>Machine engineering</span>
                                <h3>Project of technological park</h3>
                            </div>
                        </div>
                        <div class="single-project">
                            <div class="project-thumb">
                                <img src="img/project/1.jpg" alt="">
                            </div>
                            <div class="project-info">
                                <span>Industrial construction</span>
                                <h3>Research and development center</h3>
                            </div>
                        </div>
                        <div class="single-project">
                            <div class="project-thumb">
                                <img src="img/project/1.jpg" alt="">
                            </div>
                            <div class="project-info">
                                <span>Machine engineering</span>
                                <h3>Project of technological park</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- project-area-end -->
{% endblock %}
