{% extends 'base.html.twig' %}

{% block title %}SERVICES{% endblock %}

{% block body %}
    <div class="container">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="section-title text-center mb-65">
                    <span>NOS SERVICES</span>
                    <h1>Nous fournissons l'ensemble des services</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="single-service">
                        <div class="service-thumb">
                            <img src="img/service/3.jpg" alt="">
                        </div>
                        <h3>Installation Panneau Solaire</h3>
                        <p><ul style="list-style-type:circle;">
                            <li>Un investissement durable</li>
                            <li>Un accompagnement d’expert</li>
                            <li>solution technique</li>
                            <li>…</li>
                        </ul></p>

                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single-service">
                        <div class="service-thumb">
                            <img src="img/service/12.jpg" alt="">
                        </div>
                        <h3>LE GROS OEUVRE</h3>
                        <p><ul style="list-style-type:circle;">
                            <li>Maçonnerie&nbsp;: parpaings et briques</li>
                            <li>Ravalement de façade</li>
                            <li>Projection d’enduit</li>
                            <li>…</li>
                        </ul></p>

                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single-service">
                        <div class="service-thumb">
                            <img src="img/service/11.jpg" alt="">
                        </div>
                        <h3>Le second oeuvre</h3>
                        <ul style="list-style-type:circle;">
                            <li>Carrelage</li>
                            <li>la pose de pavés calcaires</li>
                            <li>la pose de pavés grès</li>
                            <li> …</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
